/* 样式表 */

/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

h2, h3, h4 {
  margin: 10px 0;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* 摘要样式 */
#abstract-section p {
  line-height: 1.5;
}

/* 视频样式 */
#video-player {
  width: 100%;
}

/* 代码样式 */
pre {
  background-color: #f5f5f5;
  padding: 10px;
  overflow: auto;
}
